*{
    color: gold;
    text-align: center;
}
h1{
    text-decoration: black wavy underline;
}
.card{
    background-color: aquamarine;
    height: 300px;
    width: 500px;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    padding: 10px;
    border: 3px dotted blueviolet ;
    border-radius: 30px;
    margin: auto;
    line-height: 5px;
}
h2,h4,p{
    color: black;
}