h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aquamarine;
    background-color: coral;
}
p{
    font-style: italic;
    font-size: larger;
}
.about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 10px;
    color: rgb(226, 42, 143);
}
div{
    background-color: darkcyan;
    padding: 10px;
    margin: 10px;
    border: dotted;
}
.hobby-box{
    background-color: gold;
    padding: 10px;
    margin: 10px;
    border:dotted;
}
.dashed-border{
    border-style: dashed;
}
.border-radius{
    border-radius: 10px;
}
table{
    border:dotted;
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}
img{
    border:solid;
    margin: 5px;
    padding: 5px;
}
footer{
    background-color: bisque;
    color: hsl(210, 50%, 30%);
    font-size: 15px;
    padding: 2px;
    margin: 2px;
}