*{
    margin:0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
}
div{
    height: 300px;
    width: 400px;
    color: black;
    border: 2px solid black;
    display: inline-block;
}
.container{
    background-color: darksalmon;
    color: chartreuse;
    height: 620px;
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: auto;
}
button{
    color: darkblue;
    background-color: crimson;
    border: 3px solid black;
}
button:hover{
    color: darkmagenta;
    background-color: aqua;
}
.box2:hover{
    transform: scale(1.05);
    transition: all 2s ease-in 1s;
    background-color: darkviolet;
}
.box1{
    background-color: chartreuse;
    border-radius: 30px;
}
.box2{
    background-color: lightpink;
    border-radius: 30px;
}
.box3{
    background-color: mediumblue;
    border-radius: 30px;
}
.box4{
    background-color: mediumvioletred;
    border-radius: 30px;
}
.box5{
    background-color: gold;
    border-radius: 30px;
}
.box6{
    background-color: cyan;
    border-radius: 30px;
}
@keyframes slidein{
    from{
        transform: translateY(30px);
    }
    to{
        transform: translateY(0);
    }
}
.box1:hover{
    animation-name: slidein;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-direction: alternate;
}
@media(max-width:768px){
    .box3{
        background-color: red;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .box4{
        background-color: crimson;
    }
    .box5{
        background-color: mediumvioletred;
    }
} 
 @media(min-width:1025px){
    .box1{
        background-color: deeppink;
    }
    .box2{
        background-color: chartreuse;
    }
    .box6{
        background-color: chocolate;
    }
}
