*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    border: 2px solid black;
    margin: 50px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-content:center;
    height: 600px;
    width: 800px;
    /* grid-template-rows: 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px; */
}
.items{
    border: 2px solid black;
    height: 100px;
}
/* #box1{
   grid-column-start:1;
   grid-column-end: 4; 
} */
#box4{
    grid-row-start: 1;
    grid-row-end: 4;
}
