h1{
    height: 100px;
    width: 100px;
    padding: 50px;
    background-color: aqua;
    margin: 10px;
    border-width: 5px;
    border-style:double;
    border-color: blue;
    border: 8px dashed red;
    border-radius: 50%;
}