header{
    background-color: crimson;
    color: black;
}
.AboutSection{
    background-color: burlywood;
    font-size: x-large;
}
.skills{
    background-color: darkcyan;
    font-size: x-large;
}
.table{
    background-color: darksalmon;
}
.contact{
    background-color: blueviolet;
    color: black;
    font-size: x-large;
}
.footer{
    font-size: larger;
    background-color: gold;
}